*
{
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body
{
    font: normal 1em 'open_sans_regular';

    height: 100%;

    color: #726f70;
    background: url(../img/bg.jpg);
    background-size: cover;
}

/* Clearfix ===============================================================*/
.clearfix:before,
.clearfix:after
{
    display: table; /* 2 */

    content: ' '; /* 1 */
}

.clearfix:after
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix
{
    *zoom: 1;
}

/* End of Clearfix ===============================================================*/

/* Header ===================================================================*/

.page-header
{
    position: relative;

    height: 85px;
    margin-bottom: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#757373+0,757373+100 */

    background: #757373; /* Old browsers */
    background:    -moz-linear-gradient(top,  #757373 0%, #757373 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #757373 0%,#757373 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #757373 0%,#757373 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757373', endColorstr='#757373',GradientType=0 ); /* IE6-9 */
}

.nav-bar
{
    height: 7px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}


.container-big
{
    position: relative;

    min-width: 960px;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}


/* Logo ==========================================================================*/

.page-header .header-logo-link
{
    /*position: absolute;
	top: 10px;
	left: 109px;*/
    float: left;

    width: 95px;
    height: 73px;
    margin-top: 10px;
    margin-left: 100px;
}

.page-header .header-logo-text
{
    position: absolute;
    left: -9999px;
}

.logo-img
{
    width: 100%;
    height: 100%;
}

/* End of Logo ====================================================================*/

/* Social icons ===================================================================*/

.page-header .social-1
{
    float: right;
    /*position: absolute;
	right: 0;
	top: 26px;*/

    min-width: 195px;
}

.social
{
    float: right;

    min-width: 200px;
    min-width: 195px;
    margin: 0;
    margin-top: 26px;
    margin-right: 98px;
}

.social-item
{
    display: inline-block;

    width: 38px;
    height: 40px;
    margin-left: 15px;

    list-style: none;
}

.social-item:first-child
{
    margin-left: 0;
}

.social-link
{
    display: block;

    width: 100%;
    height: 100%;

    text-indent: -9999px;

    background-image: url(../img/spritesheet-social.png);
    background-repeat: no-repeat;
}

.social-link.fb
{
    background-position: -5px -5px;
}
.social-link.vk
{
    background-position: -5px -105px;
}
.social-link.tw
{
    background-position: -101px -5px;
}
.social-link.gh
{
    background-position: -5px -55px;
}

.social-link.fb:hover
{
    background-position: -53px -5px;
}
.social-link.vk:hover
{
    background-position: -53px -105px;
}
.social-link.tw:hover
{
    background-position: -101px -55px;
}
.social-link.gh:hover
{
    background-position: -53px -55px;
}

/* End of Social icons ============================================================*/

/* End of Header ==================================================================*/

.container
{
    width: 960px;
    height: auto;
    margin: 0 auto;
}

/* Navigation & Contacts =======================================================*/

.sidebar
{
    float: left;

    width: 249px;
    /*margin-bottom: 37px;*/
}

/* Navigation ===================================================================*/

.navigation
{
    overflow: hidden;

    margin-bottom: 37px;
    padding: 0;

    border-radius: 4px;
}

ul.nav-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}



.navigation .nav-list .nav-item.active
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ce7cd+0,40b89a+100 */
    background: #7ce7cd; /* Old browsers */
    background:    -moz-linear-gradient(top,  #7ce7cd 0%, #40b89a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7ce7cd 0%,#40b89a 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #7ce7cd 0%,#40b89a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#40b89a',GradientType=0 ); /* IE6-9 */
}

.navigation .nav-list .nav-item.active:hover
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fd9bb+0,66a088+100 */
    background: #8fd9bb; /* Old browsers */
    background:    -moz-linear-gradient(top,  #8fd9bb 0%, #66a088 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #8fd9bb 0%,#66a088 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #8fd9bb 0%,#66a088 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fd9bb', endColorstr='#66a088',GradientType=0 ); /* IE6-9 */
}

.navigation .nav-list .nav-item
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,e4e3e1+100 */
    background: #fcfcfc; /* Old browsers */
    background:    -moz-linear-gradient(top,  #fcfcfc 0%, #e4e3e1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e4e3e1 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #fcfcfc 0%,#e4e3e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 2px 2px 2px 2px rgba(9, 9, 9, .1),inset 0 -1px 1px 1px rgba(41, 41, 41, .1);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e4e3e1',GradientType=0 ); /* IE6-9 */
}

.navigation .nav-list .nav-item:hover
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e6e6+0,bebdbd+100 */
    background: #e7e6e6; /* Old browsers */
    background:    -moz-linear-gradient(top,  #e7e6e6 0%, #bebdbd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e7e6e6 0%,#bebdbd 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #e7e6e6 0%,#bebdbd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e6e6', endColorstr='#bebdbd',GradientType=0 ); /* IE6-9 */
}

.nav-link
{
    display: block;

    width: 100%;
    height: 100%;
}

.nav-item.active a.nav-link
{
    font-family: 'open_sans_semibold';
    font-size: 20px;

    text-decoration: none;

    color: rgb(30, 116, 101);
    /*line-height: 2.85;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    /*margin-left: 20px;*/
}


.nav-item a.nav-link
{
    font-family: 'open_sans_semibold';
    font-size: 20px;

    min-height: 57px;
    padding: 16px 10px 16px 20px;

    text-decoration: none;
    word-break: break-all;

    color: rgb(114, 112, 112);
    /*line-height: 2.85;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
}

/* End of Navigation =======================================================*/

/* Contacts ================================================================*/

.my-contacts
{
    overflow: hidden;

    margin-bottom: 37px;
    padding: 0;

    border-radius: 4px;
}

ul.contacts
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.contact-link
{
    display: block;

    width: 100%;
    height: 100%;
}


.contact-item.title
{
    border: 1px #caa152 solid;
    border-radius: 4px 4px 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4cc7e+0,ddb25f+100 */
    background: #f4cc7e; /* Old browsers */
    background:    -moz-linear-gradient(top,  #f4cc7e 0%, #ddb25f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f4cc7e 0%,#ddb25f 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #f4cc7e 0%,#ddb25f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0 1px 1px 0 rgba(9, 9, 9, .3),inset 0 1px 0 0 rgba(255, 255, 255, .25);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4cc7e', endColorstr='#ddb25f',GradientType=0 ); /* IE6-9 */
}

h3
{
    margin: 0;
}

.contact-item.title
{
    font-family: 'open_sans_semibold';
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;

    min-height: 43px;
    margin-left: 0;
    padding: 10px 10px 10px 20px;
    padding-left: 20px;

    text-decoration: none;
    word-break: break-all;

    color: rgb(208, 152, 44);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
}


.my-contacts .contacts .contact-item
{
    border: 1px #d6d5d3 solid;
    border-radius: 4px 4px 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,f4f3f2+100 */
    background: #fbfbfb; /* Old browsers */
    background:    -moz-linear-gradient(top,  #fbfbfb 0%, #f4f3f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f4f3f2 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #fbfbfb 0%,#f4f3f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0 1px 1px 0 rgba(9, 9, 9, .3),inset 0 1px 0 0 rgba(255, 255, 255, .25);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f4f3f2',GradientType=0 ); /* IE6-9 */
}

.my-contacts .contacts .contact-item:hover
{
    border: 1px #d6d5d3 solid;
    border-radius: 4px 4px 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2e7d0+100 */
    background: #fff; /* Old browsers */
    background:    -moz-linear-gradient(top,  #fff 0%, #f2e7d0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fff 0%,#f2e7d0 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #fff 0%,#f2e7d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0 1px 1px 0 rgba(9, 9, 9, .3),inset 0 1px 0 0 rgba(255, 255, 255, .25);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e7d0',GradientType=0 ); /* IE6-9 */
}

li.contact-item
{
    position: relative;
    min-height: 40px;
}


li.contact-item.mail:before
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -105px;

    width: 16px;
    height: 12px;

    content: '';

    background: url(../img/email-main.png) no-repeat;
}

li.contact-item.phone:before
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -105px;

    width: 16px;
    height: 21px;

    content: '';

    background: url(../img/telephone-main.png) no-repeat;
}

li.contact-item.skype:before
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -105px;

    width: 19px;
    height: 19px;

    content: '';

    background: url(../img/skype-main.png) no-repeat;
}

li.contact-item:after
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -75px;

    width: 20px;
    height: 39px;

    content: '';

    background: url(../img/r-arrow-yellow.png) no-repeat;
    /*background-size: 10px auto;*/
}

.my-contacts .contacts .contact-item a
{
    font-family: 'open_sans_regular';
    font-size: 14px;
    font-style: normal;
    /*line-height: 2.7;*/

    /*margin-left: 70px;*/
    padding: 10px 10px 10px 70px;

    color: rgb(132, 130, 129);
    text-shadow: 0 1px 0 rgba(102, 101, 101, .3);
    word-break: break-all;
}

/* End of Contacts ==================================================================*/

/* End of Navigation & Contacts =====================================================*/


/* Main Info ======================================================================*/

.main-blocks
{
    float: right;

    width: 650px;
    margin-bottom: 10px;
}



/* Footer Nail Down ===================================================================*/

.wrapper
{
    position: relative;

    min-width: 970px;
    height: auto;
    min-height: 100%;
    /*overflow: hidden;*/
}
.wrapper:after
{
    display: block;

    height: 61px;

    content: '';
}
.page-footer
{
    min-width: 970px;
    height: 61px;
    margin-top: -61px;
}

/* End of - Footer Nail Down ====================================================*/



.container-footer
{
    line-height: 61px;

    position: relative;

    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+100 */

    background: #fff; /* Old browsers */
    background:    -moz-linear-gradient(top,  #fff 0%, #f1f1f1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fff 0%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom,  #fff 0%,#f1f1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
    /*border: 1px black solid;*/
}

.login
{
    line-height: 1.25em;

    position: absolute;
    top: -3px;
    /*top: 42%;*/
    left: -120px;

    padding-left: 27px;

    background: url(../img/locked.png) no-repeat;
}

.login:hover
{
    background: url(../img/unlocked.png) no-repeat;
}

.login-inner
{
    font-family: 'open_sans_bold';
    font-size: 14px;
    line-height: 1.5;

    text-decoration: none;

    color: #a3a3a3;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .85);
}


.copyright
{
    font-family: 'open_sans_light';
    font-size: 12px;
    line-height: 1.25em;
    line-height: 1.2;

    position: relative;

    display: inline-block;
    /*background-color: red;*/

    padding: 0;

    vertical-align: middle;

    color: rgb(114, 112, 112);
}
